.thumbnails{
  width: 300px;
  /*
  height: 300px;
  object-fit: contain;
  object-position: right;
    object-position: top;
      object-position: bottom;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  */
}
.search{
display: block;
}
.video-one{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-two{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-three{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-four{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-five{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-six{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-seven{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-eight{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-nine{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-ten{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-11{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-12{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-13{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-14{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-15{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-16{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-17{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-18{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-19{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-20{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-21{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-22{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-23{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-24{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-one{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-two{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-three{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-four{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-five{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-six{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-seven{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-eight{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-nine{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-ten{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-11{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-12{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-13{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-14{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-15{
  width: 300px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-16{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-17{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-18{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-19{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-20{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-21{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}
.video-22{
  width: 300px;
  display: inline-block;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 2px;
}
.video-23{
  width: 300px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 8px;
  margin-right: 2px;
 
}
.video-24{
  width: 300px;
  display: inline-block;
  margin-left: 8px;
  margin-top: 50px;
  margin-right: 2px;
}