*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

body{
  background-color: black;
  width: 100%;
  height: 100vh;
  color: white;
}

header{
  position: fixed;
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px orangered;
}
header h1{
  margin-left: 20px;
  font-size: 30px;
  padding: 20px;
  font-weight: 600;
  text-shadow: 0 0 10px orangered;
}


.navbar ul{
  margin-right: 70px;
}

.navbar ul li{
  display: inline-block;
  margin: 15px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.navbar ul li a{
  text-decoration: none;
  list-style: none;
  color: orangered;
  border-bottom: 2px solid orangered;
}

.navbar ul li a:hover{
  color: white;
  border-bottom: 2px solid white;
}
.images-food{
  width: 600px;
  display: inline-block;
}
.advertises .images-macmacaan .one{
  width: 200px;
  height: 200px;
  display: inline-block;
}
