*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: tahoma;
}

body{
  width: 100%;
  height: 100vh;
  background-image: url(./moon3.jpeg);
  background-position: center;
  background-size: cover;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /*box-shadow: 0 0 4px white;*/
}

header h1{
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  color: #000;
}
header h1 span{
  color: #e2de03;
  filter: drop-shadow(0 0 10px black);
}

header nav ul {
  display: flex;
  margin-left: 500px;
  gap: 20px;
}

header nav ul li a{
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: .3s;
}
header nav ul li a:hover{
  text-decoration: underline;
  filter: drop-shadow(0 0 10px blue);
}

header .button {
  display: flex;
  gap: 17px;
 /* margin-right: 20px;*/
}

header .button .btn {
  width: 100px;
  height: 30px;
  background-color: rgb(2, 68, 2);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 10px white;
  cursor: pointer;
  transition: .4s;
}

header .button .btn:hover{
  scale: 1.1;
  box-shadow: 0 0 10px blue;
  filter: drop-shadow(0 0 10px white);
}

/*=======home style=====*/
.home{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding: 20px;
}

.home .right{
  padding-top: 90px;
  margin-left: 60px;
}

.home .right h1{
  color: black;
  font-size: 40px;
  font-weight: bold;
  filter: drop-shadow(0 0 10px white);
}

.home .right h2{
  color: white;
  font-size: 50px;
  font-weight: bold;
  filter: drop-shadow(0 0 10px white);
}

.home .right .button .btn{
  width: 145px;
  height: 40px;
  background-color: rgb(84, 124, 29);
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 0 10px black;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #fff;
}

.home .left{
  padding-top: 100px;
  padding-right: 90px;
}

form{
  width: 260px;
  height: 340px;
  box-shadow: 0 0 10px white;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 20px;
  text-align: center;
}

form h2{
  color: #fff;
  filter: drop-shadow(0 0 10px black);
  font-size: 27px;
  font-weight: bold;
}

form .sanjay{
  width: 90%;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 6px  black;
  border-radius: 10px;
  color: black;
}