.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(221, 221, 221);
  z-index: 1;

}

.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 250px;
  cursor: pointer;
}

.menu{
  height: 25px;
  margin-right: 25px;

}

.logo{
  height: 20px;
  margin-right: 60px;
}

.middle-side{
  height: 45px;
  display: flex;
  cursor: pointer;
}

.placeholder{
  flex: 1fr;
  width: 300px;
  min-width: 0;
  height: 35px;
  font-size: 18px;
  border:  1px solid  rgb(210, 210, 210);
  padding-left: 10px;
  display: flex;
  box-shadow: inset 0 1px 2px rgb(204, 204, 204);
}

button img{
  align-items: center;
  height: 26px;
  padding-top: 5px;
}


.btn1{
  width: 55px;
  height: 39px;
  cursor: pointer;
  background-color:  rgb(250, 250, 250);
  border: 1px solid  rgb(210, 210, 210);
  margin-right:7px;
}
.tooltip{
  position: relative;
  display: flex;
  justify-content: center;
}

.search-tip{
  background-color: rgb(117, 114, 114);
  position: absolute;
  font-family: tahoma;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
  color: white;
  padding: 2px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
  bottom: -15px;


}
.search-tip:hover{
  opacity: 1;
}

.btn2{
  width: 40px;
  height: 39px;
  cursor: pointer;
  background-color:  rgb(245, 245, 245);
  border-radius: 20px;
  border: none;
}


.voice-search{
  background-color: rgb(117, 114, 114);
  position: absolute;
  font-family: tahoma;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
  width: 120px;
  color: white;
  padding: 5px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
}
.voice-search:hover{
  opacity: 1;
}
.right-side{
  width: 185px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;

}

.upload-icon, .youtube-apps-icon, .notification-icon{
  height: 25px;
}
.notification-icon{
  position: relative;
}
.create-tip{
  position: absolute;
  bottom: -15px;
  background-color: rgb(117, 114, 114);
  font-family: tahoma;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
  color: white;
  padding: 2px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  opacity: 0;

}

.create-tip:hover{
  opacity: 1;
}

.youtube-tip{
  background-color: rgb(117, 114, 114);
  position: absolute;
  font-family: tahoma;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
  color: white;
  padding: 2px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
}

.youtube-tip:hover{
  opacity: 1;
}

.notification-tip{
  position: absolute;
  background-color: rgb(117, 114, 114);
  font-family: tahoma;
  font-size: 12px;
  font-weight: 500;
  margin-right: 3px;
  color: white;
  padding: 2px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  opacity: 0;
}

.notification-tip:hover{
  opacity: 1;
}

.noti-count{
  position: absolute;
  background-color: rgb(187, 17, 17);
  color: white;
  right: 80px;
  bottom: 30px;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-weight: bold;
  font-family: arial;
  border-radius: 10px;
  text-align: center;

}
.my-channel{
  height: 35px;
}
